<% if flash[:alert] %>
  <div class="flash errors"><%= flash[:alert] %></div>
<% end %>
<div class="block">
<% @body_id = 'login' %>
<div id="existing-customer">
  <h6><%= Spree.t(:login_as_existing) %></h6>
  <div data-hook="login">
    <%= render :partial => 'spree/shared/login' %>
  </div>
</div>
<div data-hook="login_extras"></div>
</div>